/*
style.css
Premier essai de feuille de style sous CSS
Plus d' infos sur https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/mettre-en-place-le-css
Et sur le site officiel https://www.w3.org/TR/css-color-3/
*/

/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-image: url("party.jpg");
    background-attachment: fixed; /* l'image de fond est fixe */
    background-repeat: repeat-x; /* l'image est repetee sur la premiere ligne uniquement */
}

.introduction, em
{
    color: teal;
    text-shadow: 1px 1px 1px black;
}

p
{
    font-size: 1em; /* taille relative */
    font-family: Verdana, Arial, sans-serif;
}

.paragraphTitle1
{
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

.paragraph1
{
    font-style: italic;
    text-align: justify;
}

h1
{
    font-size: 6em;
    font-family: Arial, fantasy;              /* Arial, Verdana, sans-serif;*/
    font-variant: small-caps;

    text-align: center;

    /*text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;*/
    /*text-shadow: GreenYellow 1px 1px, GreenYellow -1px 1px, GreenYellow -1px -1px, GreenYellow 1px -1px;*/
    text-shadow: GreenYellow 2px 2px, GreenYellow -2px 2px, GreenYellow -2px -2px, GreenYellow 2px -2px;

    color: InfoBackground; /*InfoBackground   rgba(0, 0, 0, 0.5)  */
    /*border: black groove; /* cadre noir autour du titre */
    background-color: transform;
    /*box-shadow: 6px 6px 6px black;*/
}

.imageflottante
{
    float: left;
}

.dessous
{
    clear: both; /* remet l'alignement normal apres l'image flottante */
}

a /* Liens par dÃ©faut (non survolÃ©s) */
{
  color: GreenYellow;
  display: inline-block; /*enlever display: inline-block; si besoin*/
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
  box-shadow: 0px 0px 2px GreenYellow, 2px 2px 5px 4px rgba(0, 0, 0, 0.8) inset;
  margin-left: 25px; /*mettre auto si Ã§a passe mal sur certains Ã©crans*/
  margin-right: 25px;
  width: 450px;
  font-size: 3.5em;
  font-family: Arial;
  font-variant: small-caps;
  font-stretch: extra-condensed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  border-radius: 30px;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
   color: GreenYellow; /* yellow/white */
   /*text-shadow: black 1px 1px;/*GreenYellow -1px 1px;/*, GreenYellow -1px -1px, GreenYellow 1px -1px;*/
   text-shadow: 1px 1px 1px yellow;
}

.button
{

  text-align: center;
}


#recherche{
    position:relative;
    width:1040px;
    height:auto;
    display:inline-block;
}
#recherche .text{
    width:300px;
    float:left;    
}
#recherche .champ{
    width:600px;
    height:35px;
    float:left;
}
#recherche .bouton{
    width: 35px;
    height: 35px;
    padding: 0;
    border:none;
    float:left;
}
